.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 90px;
    background: #222;
}

.notice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.notice i {
    color: yellow
}

.notice p {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav {
    background: transparent;
}

.navigation {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {

    color: #fff
}

.nav-link:hover {

    color: yellow
}

.carousel-item {
    position: relative;
}

.carousel-text {
    position: absolute;
    inset: 90px 64px 64px 64px;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}